<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.pdnormalnumbers</string>
	<key>CFBundleName</key>
	<string>Modified Programmers Dvorak</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Programmer Dvorak</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pdnormalnumbers.programmerdvorak</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Real Programmers Dvorak</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pdnormalnumbers.realprogrammers dvorak</string>
		<key>TISIntendedLanguage</key>
		<string></string>
	</dict>
</dict>
</plist>
